<%= link_to "Back to main", restaurants_path(@restaurant) %>

<h1>Restaurant</h1>

<p><%= @restaurant.name %></p>

<p><%= @restaurant.address %></p>

<p><%= @restaurant.phone_number %></p>

<p><%= @restaurant.category %></p>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  <% end %>
</ul>
